extends layout

block content
    include mixins/pokemonCards
    div.contatiner
        div.add-button-row
            a.button.save(href="/add") Add Pokemon
    div.container
        each pokemon in pokemons
            +pokemonCard(pokemon)
